.icon{background: url('~@/static/phone.png') no-repeat;display: inline-block;width: 32upx;height: 43upx;background-size: 100% 100%;}
.icon1{background: url('~@/static/icon1.png') no-repeat;display: inline-block;width: 32upx;height: 43upx;background-size: 100% 100%;}
.icon2{background: url('~@/static/page3_2.png') no-repeat;display: inline-block;width: 46upx;height: 34upx;background-size: 100% 100%;}
.icon3{background: url('~@/static/lv1.png') no-repeat;display: inline-block;width: 37upx;height: 37upx;background-size: 100% 100%;}
.icon4{background: url('~@/static/lv2.png') no-repeat;display: inline-block;width: 37upx;height: 37upx;background-size: 100% 100%;}
.icon5{background: url('~@/static/b.png') no-repeat;display: inline-block;width: 41upx;height: 49upx;background-size: 100% 100%;}
.icon6{background: url('~@/static/b1.png') no-repeat;display: inline-block;width: 41upx;height: 49upx;background-size: 100% 100%;}
.icon7{background: url('~@/static/b2.png') no-repeat;display: inline-block;width: 41upx;height: 49upx;background-size: 100% 100%;}
.icon8{background: url('~@/static/b3.png') no-repeat;display: inline-block;width: 41upx;height: 49upx;background-size: 100% 100%;}
.icon9{background: url('~@/static/cart.png') no-repeat;display: inline-block;width: 38upx;height: 33upx;background-size: 100% 100%;}
.icon10{background: url('~@/static/jian.png') no-repeat;display: inline-block;width: 37upx;height: 37upx;background-size: 100% 100%;}
.icon11{background: url('~@/static/jia.png') no-repeat;display: inline-block;width: 37upx;height: 37upx;background-size: 100% 100%;}


